*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }
  nav{
    background: #075e54;
    height: 80px;
    width: 100%;
    z-index: 1000;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #25d366;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #128c7e;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

   *{box-sizing:border-box}

    /* Slideshow container */
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
      max-width: 100%;
      height: calc(95vh - 30px); /* Adjust the navbar height */
      overflow: hidden;
     
    }
    .slideshow-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    /* Hide the images by default */
  
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }

    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @keyframes fade {
      0% {
        opacity: 0.4;
      }
      100% {
        opacity: 1;
      }
    }

.text button{
  padding: 12px 22px;
  margin-top: 30px;
  font-size: 22px;
  border: none;
  outline: none;
  color: white;
  background-color: #075e54;
  border-radius: 25px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.5s;
  
}

.upload-overlay {
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}


.upload-overlay button{
  align-items: center;
  padding: 12px 22px;
  margin-top: 30px;
  font-size: 22px;
  border: none;
  outline: none;
  color: white;
  background-color: #075e54;
  border-radius: 25px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.5s;
}
.upload-overlay2{
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #ffffff;
  
}

/* Style form elements */
.time-input-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.time-input-form label,
.time-input-form input,
.time-input-form select {
  margin-bottom: 10px;
  margin-left: 15px;
  background-color: #ffffff00;
  color: #ffffff;
  border: none; 
  outline: none;
}

.time-input-form label {
  font-size: large;
  font-weight:400;
}


.time-input-form input,
.time-input-form select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: #ffffff;
}

.time-input-form option {
  color: #000000; /* Set option text color to black */
}

.time-input-form input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Invert the color to white */
}
.time-input-form input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Invert the color to white */
}



/* Hover effect for WhatsApp green */
#uploadButton:hover,
.time-input-form input[type="submit"]:hover {
  background-color: #075e54;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.5s;
}




