<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ChatVibe-Worlds First WhatsApp Mood Analyzer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="icon" href="Pics/favicon.jpg" type="image/x-icon">
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">ChatVibe</label>
      <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a href="../static/privacy.html">Privacy</a></li>
        <li><a href="../static/aboutus.html">About Us</a></li>
        <li><a href="../static/help.html">Help</a></li>
        <li><a href="../static/loginp.html">Premium</a></li>
      </ul>
    </nav>

    <!-- Slideshow container -->
<div class="slideshow-container">
  

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="../static/Pics/car5.jpg" style="width:100%">
    <div class="text">Texting with a touch of fire, when words are the flames of expression.<br>
     
    </div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="../static/Pics/car3.jpg" style="width:100%">
    <div class="text">In the world of happiness, every message is a smile waiting to happen.<br>

    </div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="../static/Pics/car4.jpg" style="width:100%">
    <div class="text">Behind every sad emoji, there's a story waiting to be heard.<br>
    
    </div>
   
  </div>
 
  <!-- Next and previous buttons -->
  
<div class="upload-overlay">
  <input type="file" id="fileUpload" accept=".txt">
    

<div class="upload-overlay2">
    <form class="time-input-form">
      <label for="fromDate">From Date:</label>
      <input type="date" id="fromDate">
      <label for="toDate">To Date:</label>
      <input type="date" id="toDate">
      <br>
      <button onclick="uploadFile()">Upload</button>
<script>
  function uploadFile() {
            const file = document.getElementById('fileUpload').files[0];
            const fromDate = document.getElementById('fromDate').value;
            const toDate = document.getElementById('toDate').value;

            const formData = new FormData();
            formData.append('file', file);
            formData.append('fromDate', fromDate);
            formData.append('toDate', toDate);

            fetch('http://127.0.0.1:8000/home/upload/', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error(error);
            });
        }
</script>




<script src="../static/JS/script.js"></script>
<script src="../static/JS/scriptbutton.js"></script>
<script src="../static/JS/scriptbutton2.js"></script>
<script src="server.js"></script>
  </body>
</html>