<!DOCTYPE html>

<html lang="en" dir="ltr">

  

  <head>
    <meta charset="utf-8">
    <title>ChatVibe-Worlds First WhatsApp Mood Analyzer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="icon" href="../static/Pics/favicon.jpg" type="image/x-icon">
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">ChatVibe</label>
      <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a href="../static/privacy.html">Privacy</a></li>
        <li><a href="../static/aboutus.html">About Us</a></li>
        <li><a href="../static/help.html">Help</a></li>
        <li><a href="../static/loginp.html">Premium</a></li>
      </ul>
    </nav>



    <!-- Slideshow container -->
    <h1 style="text-align: center; color: white; font-family: sans-serif; margin-top: 10%;">Upload the exported chat here</h1>

    <label for="fileUpload">Upload File</label>
    <input type="file" id="fileUpload" accept=".txt" style="display: none;">

    <br>

    <div style="text-align: center; margin: 1%;">
    <label for="fromDate">From Date:</label>
    <input type="date" id="fromDate" class="white-calendar-icon">
    <label for="toDate" >To Date:</label>
    <input type="date" id="toDate" class="white-calendar-icon">  
    <label for="Name">Name:</label>
    <input type="text" id="Name" placeholder="Enter the name here">
    
    </div>
    <br>

    <button style=" padding: 12px 22px;
     background-color: #075e54; 
     cursor: pointer;border: none; 
     outline: none; color: white; 
     border-radius: 25px; display: block;  
     opacity: 0.8; transition: 0.5s;
     margin: 2% auto;
     " onclick="uploadFile()">Submit</button>




<div id="loading-animation" style="display: none;">
  <!-- Add your loading animation here -->
  <span>Loading...</span>
</div>


    <script>
       function uploadFile() {
            const file = document.getElementById('fileUpload').files[0];
            const fromDate = document.getElementById('fromDate').value;
            const toDate = document.getElementById('toDate').value;
            const Name = document.getElementById('Name').value;

            const formData = new FormData();
            formData.append('chat_file', file);
            formData.append('chat_startdate', fromDate);
            formData.append('chat_enddate', toDate);
            formData.append("Name", Name);


            fetch('http://127.0.0.1:8000/home/upload/', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error(error);
            });
        }

        function uploadFile(){
      // Display loading animation
      document.getElementById('loading-animation').style.display = 'block';

      // Wait for 3 seconds and then redirect to result.html
      setTimeout(function() {
        window.location.href = '../static/result.html'; // Redirect to result.html after 3 seconds
      }, 3000); // 3000 milliseconds = 3 seconds
    }

    </script>


  </body>
</html>